body{
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
/********************Ajax loader***********************************/
#loading {
	position:fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:1050; 
	background-color:#D0D0D2; 
	opacity: .85;
}
.ajax-loader {
	position: absolute; 
	width: 15%; 
	left: 50%; 
	top: 50%; 
	margin-left: -64px; /* -1 * image width / 2 */ 
	margin-top: -32px;  /* -1 * image height / 2 */
	display: block;
}
